* {
    box-sizing: border-box;
    text-align: center;
  }
  
  .App {
    text-align: center;
  }
  
  
  h2 {
    background-color: #222;
    padding: 20px;
    color: white;
  }

  .ui.table {
    width: 100%;
  }
  
  .ui.header {
    text-align: center;
  }


  /* .ui.fluid.icon.input {
    width: 100%;
    max-width: 300px; 
    margin: 20px auto;
     
  
  }
   */
  .ui.input input {
    padding: 10px;
    font-size: 16px;
    width:500px;
  }
  
  /* .ui.input .icon {
    font-size: 20px;
    color: #333; 
  } */